<section id="team" class="team">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Seguros</h2>
            <p>Te ayudamos a encontrar el mejor seguro para ti.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="assets/img/seguros/medico.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-plus"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Seguro de Gastos Médicos</h4>
                        <span>Protege tu salud </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="assets/img/seguros/auto.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-plus"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Seguro de Auto</h4>
                        <span>Circula seguro</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="assets/img/seguros/vida.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-plus"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Seguro de Vida</h4>
                        <span>Deja protegidos a quien te importa</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                        <img src="assets/img/seguros/casa.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-plus"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Seguro de Hogar</h4>
                        <span>Cuidamos los más preciado</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>